# ignore data folder
data/

# Ignore all __pycache__ folders
__pycache__/

# Ignore the entire virtual environment
.venv/

# Ignore all .pyc files
*.pyc

# Ignore all .pyo files (alternative compiled Python files)
*.pyo